<h1><%= @company.name %></h1>
<p><%= @company.description %></p>
<ul>
  <li>Start Date: <%=@company.start_date %></li>
  <li>Country: <%=@company.country %></li>
</ul>

<%=link_to "Go back to Companies", companies_path %>
<%= link_to "Delete this Company", company_path(@company), method: :delete, data: { confirm: "Really delete the company"} %>